
@{
    ViewData["Title"] = "FAQ";
}

<div class="container">
    <div class="banner-header banner-lbook3 space-30">
        <img src="assets/images/banner-mansory.jpg" alt="Banner-header">
        <div class="text">
            <h3>FAQ</h3>
            <p><a href="#" title="Home">Home</a><i class="fa fa-caret-right"></i>FAQ</p>
        </div>
    </div>
</div>
<div class="page-faq">
    <div class="container container-ver2">
        <div class="content-text space-50">
            <h2>Shopping information</h2>
            <div class="row">
                <div class="col-md-6 space-50 fixed-height">
                    <h3>Privacy</h3>
                    <p>Privacy is a fundamental human right. At Apple, it’s also one of our core values. Your devices are important to so many parts of your life. What you share from those experiences, and who you share it with, should be up to you. We design Apple products to protect your privacy and give you control over your information. It’s not always easy. But that’s the kind of innovation we believe in</p>
                </div>
                <div class="col-md-6 space-50 fixed-height">
                    <h3>Sign in with Apple</h3>
                    <p>Sign in with Apple is a convenient way to sign in to apps and sites while having more control over the information you share. Apps are restricted to asking only for your name and email address, and Apple won’t track your app activity or build a profile of you.</p>
                </div>
                <div class="col-md-6 space-50">
                    <h3>Guidelines for Using Apple Trademarks and Copyrights</h3>
                    <p>Guidelines for parties wishing to use Apple’s trademarks, service marks or images.</p>
                </div>
                <div class="col-md-6 space-50">
                    <h3>Trademarks</h3>
                    <p>A non-exhaustive list of Apple trademarks and service marks.</p>
                </div>
            </div>
        </div>
        <!-- End content-text -->
    </div>
    <!-- End container -->
</div>