
@{
    ViewData["Title"] = "Dashboard";
    ViewData["Section"] = "Dashboard";
}

<!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        @*<div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <h4>Echart</h4>
                    </div>
                    <div class="card-content">
                        <div id="b-line" style="height: 370px"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <h4>Echart</h4>
                    </div>
                    <div class="card-content">
                        <div id="b-area" style="height: 370px"></div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-title">
                        <h4>Total Sale</h4>
                    </div>
                    <div class="card-content">
                        <div id="rainfall" style="height: 370px"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-title">
                        <h4>Catagory Sale</h4>
                    </div>
                    <div class="card-content">
                        <div id="basic-Pie" style="height: 370px"></div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <h4>Echart</h4>
                    </div>
                    <div class="card-content">
                        <div id="bs-chart" style="height: 370px"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <h4>Echart</h4>
                    </div>
                    <div class="card-content">
                        <div id="nb-chart" style="height: 370px"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <h4>Echart</h4>
                    </div>
                    <div class="card-content">
                        <div id="np-Pie" style="height: 370px"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <h4>Echart</h4>
                    </div>
                    <div class="card-content">
                        <div id="doughnut" style="height: 370px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <h4>Echart</h4>
                    </div>
                    <div class="card-content">
                        <div id="radar" style="height: 370px"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <h4>Echart</h4>
                    </div>
                    <div class="card-content">
                        <div id="gauge" style="height: 370px"></div>
                    </div>
                </div>
            </div>
        </div>*@
        <!-- End PAge Content -->
    </div>
<!-- End Container fluid  -->

@section Scripts{
    <script src="~/assets1/js/lib/echart/echarts.js"></script>
    <script src="~/assets1/js/lib/echart/echarts-init.js" asp-append-version="true"></script>    
}